<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="outputPath" value="C:\firmwareout" />
    <add key="serverPath" value="http://firmwarebin.we-smart.cn:8000" />
  </appSettings>
</configuration>